<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{normaluser/baseuser::layout(~{::section})}">

<head>
	<meta charset="UTF-8" />
	<title>Home page</title>
</head>

<body>
	<section>
		<!-- <div th:if="${session.message}" th:classappend="${'alert '+session.message.type}" class="alert text-center mr-3 ml-3 " role="alert">
			<span th:text="${session.message.content}"></span>

			removing session
			<th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>
		</div> -->
		<div class="card mr-3 ml-3">
			<div class="card-body">

				<h1 class="text-center">Your Contacts</h1>
                 
				<!-- Search -->
				<div class="search-container my-3">
						
					<input th:onkeyup="|search(${user.userId})|" id="search-input" type="text" class="form-control"
						placeholder="search your contact" />
					<div class="search-result">
						<!-- this is search result -->
					</div>
				</div>
          

				<!-- Table -->
				<table class="table">
					<thead class="thead-dark">
						<tr>
							<th scope="col">#ID</th>
							<th scope="col">Name</th>
							<th scope="col">Email</th>
							<th scope="col">Phone</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody> <!-- rows -->
						<tr th:each="contact : ${contacts}">
							<th scope="row" th:text="${'SCM'+contact.cId}">1</th>
							<td>
								<img class="profile_pic" th:src="@{'/img/' + ${contact.image}}" alt="profile photo" />
								<span th:text="${contact.name}">`</span>
							</td>

							<td>
								<a th:href="@{'/user/' + ${user.userId}+'/contact/'+ ${contact.cId}}" href="#">
									<span th:text="${contact.email}"></span>
								</a>
							</td>
							<td th:text="${contact.phone}">@mdo</td>

							<!-- Buttons -->
							<td>
								<a href="#" th:onclick="|deleteContact(${user.userId},${contact.cId})|"
									class="btn btn-danger btn-sm">Delete</a>
								<a th:href="@{'/user/' + ${user.userId} + '/update-con/' + ${contact.cId}}" href="#"
									class="btn btn-primary btn-sm">Update</a>
							</td>
						</tr>
					</tbody>
				</table>

				<!-- Pagenation part -->
				<nav aria-label="Page navigation example">
					<ul class="pagination">

						<li th:if="${currentpage != 0}" class="page-item">
							<a th:href="@{'/user/viewContact/'+${user.userId}+'/' + ${currentpage-1}}" class="page-link"
								href="#">Previous</a>
						</li>

						<!-- Number of pages -->
						<li th:classappend="${currentpage+1==i?'active':''}"
							th:each="i : ${#numbers.sequence(1,totalpage)}" class="page-item">
							<a class="page-link" th:href="@{'/user/viewContact/'+${user.userId}+'/' + ${i-1}}" href="#">
								<span th:text="${i}"></span>
							</a>
						</li>

						<li th:if="${currentpage+1 < totalpage}" class="page-item">
							<a th:href="@{'/user/viewContact/'+${user.userId}+'/' + ${currentpage+1}}" class="page-link"
								href="#">Next</a>
						</li>
					</ul>
				</nav>


			</div>

		</div>

	</section>
</body>

</html>