<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  th:replace="~{base::layout(~{::section})}">
<head>
	<meta charset="UTF-8" />
	<title>Home page</title>
</head>
<body>
	<section class="banner d-flex justify-content-center align-items-center">
		<div class="text-center">
			<h1 class="font-weight-bold">Smart Contact Manager</h1>
			<p>
				Start Collecting your contacts. We provide efficient and smarter way to save your contact
			</p>
			<a href="/user/login" class="btn bg-primary btn-lg text-white">Get Started</a>

		</div>
	</section>
</body>
</html>