<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{baseEmail::layout(~{::section})}">

<head>
	<meta charset="UTF-8" />
	<title>Signup page</title>
</head>

<body>
	<section>
		<div class="container mt-5 text-center">


			<div class="col-md-8 offset-md-2">

				<div class="my-card mt-2">
					<div class="card-body">
						<h1 class="text-center styled-heading">OTP</h1>
						<h3 class="text-center mt-2">Otp is send to your register Mobile number</h3>
						
						<form action="#" th:action="@{/verify-mobileotp}" method="post">

							<!-- Hidden email and OTP fields -->
							<input type="hidden" name="email" th:value="${email}" />
							<input type="hidden" name="otp" th:value="${otp}" />

							<!-- OTP input centered in the grid -->
							<div class="row justify-content-center">
								<div class="col-md-6 mb-3 text-center">
									<label for="otp" class="form-label">Enter OTP:</label>
									<input type="text" class="form-control" name="enteredOtp" maxlength="4" required>
									<div id="otpHelp" class="form-text">Enter the 4-digit OTP received on your registered mobile number
									</div>
								</div>
							</div>

							<!-- Button -->
							<div class="container text-center">
								<button type="submit" class="btn btn-info mt-2">Submit</button>
							</div>

						</form>

					</div>

				</div>
			</div>

	</section>
</body>

</html>