<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{baseEmail::layout(~{::section})}">

<head>
	<meta charset="UTF-8" />
	<title>Signup page</title>
</head>

<body>
	<section>
		<div class="container mt-5 text-center">


			<div class="col-md-8 offset-md-2">

				<div class="my-card mt-2">
					<div class="card-body">
						<h1 class="text-center styled-heading">OTP</h1>
						<h3 class="text-center mt-2">Otp is send to your register Email Address</h3>
						<form action="#" th:action="@{/verify-otp}" method="post">

							<!--  Hidding email in input so can access it in handler -->
							<input type="hidden" name="email" th:value="${email}" />
							<input type="hidden" name="otp" th:value="${otp}" />

							<div>
								<input type="text" class="otp-input" name="digit1" maxlength="1" required>
								<input type="text" class="otp-input" name="digit2" maxlength="1" required>
								<input type="text" class="otp-input" name="digit3" maxlength="1" required>
								<input type="text" class="otp-input" name="digit4" maxlength="1" required>
							</div>

							<!-- Button -->
							<div class="container text-center">
								<button type="submit" class="btn btn-info mt-2"> Submit</button>
							</div>

						</form>
					</div>

				</div>
			</div>

	</section>
</body>

</html>