<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{baseEmail::layout(~{::section})}">

<head>
	<meta charset="UTF-8" />
	<title>Signup page</title>
</head>

<body>
	<section>
		<div class="container mt-5">

		<div class="card">

			<div class="card-body">
				<h1 class="text-center styled-heading">Welcome to S.C.M</h1>
				<h3 class="text-center mt-2">Please Verify your Mail id</h3>
				<form action="#" th:action="@{/generate-otp}" method="post">
					            
					           <!--  Hidding email in input so can access it in handler -->
					 <input type="hidden" name="email" th:value="${email}" />
                           <div class="container text-center mt-4" style="color: chocolate;">
							   <h3><span th:text="${email}"></span></h3>
						   </div>					
							         <!-- Button -->
					  <div class="container text-center">
						  <button type="submit" class="btn btn-info mt-2">
                              <i class="fa-solid fa-pencil"></i> Click here to Verify your Mail id
                          </button>
					  </div>

				</form>

			</div>

		</div>

	</div>

	</section>
</body>

</html>